.card {
  display:flex;
  justify-content: space-between;
  align-items: left;
  border-bottom: 2px solid #8a2b06;
  padding: 1rem 0;
  margin: 1rem 0;
  font-family: cursive;
  font-size:small;
  font-style: italic;

    
  }

  .card h2 {
    margin: 0 0 0.25rem 0;
    color : brown;
    font-size: larger;   
  }

  .card .paid{
    background: #150101;
    width: fit-content;
    border: black;
    border-radius: 3rem;
    color: white;
    padding: 0.5em 1.25rem;

  }

  .card .free{
    background: #074118;
    width: fit-content;
    border: rgb(8, 39, 11);
    border-radius: 3rem;
    color: rgb(227, 232, 155);
    padding: 0.5rem 1.25rem;

  }

  .card .size{
    display: inline;
  }

  .card button{
    font: inherit;
    cursor: pointer;
    background-color: #0f0f0f;
    border: 1px solid #8a2b06;
    color: white;
    padding: 0.25rem 1.25rem;
    border-radius: 20px;
    font-weight: bold;
  }

  .card button:hover,
  .card button:active {
    background-color: #91543c;
    border-color: #ac6e56;
  }

  .card select {
    border-radius: 1rem;
    padding: 0.55em;
    color: white;
    background-color: #641e03;
    font-family: cursive;
  }

  .card .error{
    border-color: red;
    background-color: red;
  }

