.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 5rem;
    background-color: #8a2b06;
    color: rgb(240, 229, 229);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 2px 8px rgba(150, 14, 14, 0.25);
    z-index: 10;
    font-family: cursive;
  }


  .header select{
    border-radius: 1rem;
    padding: 0.55em;
    color: white;
    background-color: #4d1601;
    font-family: cursive;

  }